# DAY 2 ASSIGNMENTS

# Default functions of each of the Data Types

1. List
2. Dictionary
3. Sets
4. Tuple
5. String

# Default Functions - List

In [1]:
list_default_function = ["pop", "count", "index", "extend", "clear", "append", "reverse", "remove", "copy", "insert"]

In [2]:
list_default_function

['pop',
 'count',
 'index',
 'extend',
 'clear',
 'append',
 'reverse',
 'remove',
 'copy',
 'insert']

   1. list.reverse

In [3]:
list_default_function.reverse()

In [4]:
list_default_function

['insert',
 'copy',
 'remove',
 'reverse',
 'append',
 'clear',
 'extend',
 'index',
 'count',
 'pop']

2. list.extend

In [5]:
Names = ["Ashok", "Suresh", "Vivek"]

In [6]:
Names

['Ashok', 'Suresh', 'Vivek']

In [7]:
age = [10, 20, 30]

In [8]:
age

[10, 20, 30]

In [9]:
Names.extend(age)

In [10]:
Names

['Ashok', 'Suresh', 'Vivek', 10, 20, 30]

3. list.remove

In [11]:
numbers = [4, 3, 2, 1]

In [12]:
numbers

[4, 3, 2, 1]

In [13]:
numbers.remove(1)

In [14]:
numbers

[4, 3, 2]

4. list.insert

In [15]:
Country = ["India", "Pakistan", "Bangladesh"]

In [16]:
Country

['India', 'Pakistan', 'Bangladesh']

In [17]:
Country.insert(1, "SriLanka")

In [18]:
Country

['India', 'SriLanka', 'Pakistan', 'Bangladesh']

5. list.append

In [19]:
Country

['India', 'SriLanka', 'Pakistan', 'Bangladesh']

In [20]:
Country.append ("Russia")

In [21]:
Country

['India', 'SriLanka', 'Pakistan', 'Bangladesh', 'Russia']

# Default Functions - Dictonary

1. dict.copy

In [22]:
vehicle = {"Type" : "Car", "Brand" : "Ford", "Color" : "Red"}

In [23]:
vehicle

{'Type': 'Car', 'Brand': 'Ford', 'Color': 'Red'}

In [24]:
copy_vehicle = vehicle.copy()

In [25]:
copy_vehicle

{'Type': 'Car', 'Brand': 'Ford', 'Color': 'Red'}

2. dict.get

In [26]:
vehicle.get("Color")

'Red'

3. dict.items

In [28]:
vehicle.items()

dict_items([('Type', 'Car'), ('Brand', 'Ford'), ('Color', 'Red')])

4. dict.update

In [29]:
vehicle.update({"Brand" : "Honda"})

In [30]:
vehicle

{'Type': 'Car', 'Brand': 'Honda', 'Color': 'Red'}

5. dict.setdefault

In [31]:
vehicle.setdefault("Type")

'Car'

# Default Functions - Sets

1. set.difference

In [33]:
set1 = {"apple", "orange", "Banana"}

In [34]:
set2 = {"carrot", "ladies finger", "apple"}

In [35]:
set1.difference(set2)

{'Banana', 'orange'}

2. set.issubset

In [36]:
set1 = {"apple", "orange", "Banana"}

In [37]:
set2 = {"carrot", "ladies finger", "apple"}

In [38]:
set1.issubset(set2)

False

3. set.add

In [40]:
set1.add("Mango")

In [41]:
set1

{'Banana', 'Mango', 'apple', 'orange'}

4. set.discard

In [42]:
set2.discard("carrot")

In [43]:
set2

{'apple', 'ladies finger'}

5. set.clear

In [44]:
set2.clear()

In [45]:
set2

set()

# Default Functions - Tuple

1. tuple.count

In [46]:
data = ("Gandhi", "02-10-1869", "Indian", "Male", "Indian")

In [47]:
data

('Gandhi', '02-10-1869', 'Indian', 'Male', 'Indian')

In [48]:
data.count("Indian")

2

2. tuple.index

In [49]:
data.index("Male")

3

# Default Functions - String

1. str.isprintable

In [51]:
str1 = " Let's Upgrade "
str1.isprintable()

True

2. str.replace

In [53]:
str2 = "testing"
str2.replace("ing", "ed")

'tested'

3. str.strip

In [54]:
str3 = " You are Most welcome!  "
str3.strip()

'You are Most welcome!'

4. str.swapcase

In [56]:
str4 = "gREAT"
str4.swapcase()

'Great'

5. str.upper

In [57]:
str5 = ("I love LetsUpgrade")
str5.upper()

'I LOVE LETSUPGRADE'